@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: YdestreetL;
}

@font-face {
  font-family: "YdestreetL";
  src: url("/fonts/YdestreetL.ttf") format("truetype");
}

@font-face {
  font-family: "YdestreetB";
  src: url("/fonts/YdestreetB.ttf") format("truetype");
}